PORT=4000
NODE_ENV=development

FE_URL=http://localhost:3000
CMS_URL=http://localhost:3001

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/webmgo

JWT_ACCESS_SECRET=change-me-min-32-chars
JWT_REFRESH_SECRET=change-me-min-32-chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
